@using StructuredLogExplorer

<!DOCTYPE html public>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/style.css" asp-append-version="true" rel="stylesheet" />
    @await RenderSectionAsync("HeadSection", required: false)
</head>
<body>
    @*
        These hidden inputs are needed by the header component on each page.
        Display basic login info in the header and make urls available to the client.
    *@
    <input id="urls" type="hidden" value='@Html.Raw(Urls.Json)' />
    <input id="title" type="hidden" value='@Html.Raw(ViewData["Title"])' />

@RenderBody()
</body>
</html>
